body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../img/denim.png");
}

.nav_menu {
    color: #fff;
    padding: 10px 0;
    /*text-align: center;*/
    background-color: rgb(16,41,73);
}


.nav_navigate ul {
    list-style: none;
    font-size: 18px;
    margin: auto;
    padding: 20px;
}
.nav_navigate li {

    display: inline;
    margin: 0 15px;
    color: black;
}
.nav_navigate ul a {
    border-radius: 10px;
    background-color: white;
    color: black;
}
h2{
    color: white;
}
.text_title  {
    padding: 10px;
}

h1 .logo_name {
    padding: 25px;
}
.nav_navigate a {
    text-decoration: none;
    color: #fff;

}

.main-content, .services, .portfolio, .contact-info {
    padding: 0 20px 20px 20px;
    color: white;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.logo_name{
    color: white;
    text-decoration: none;
}
.container_portfolio {
    position: relative;
    max-width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container_portfolio:hover .overlay {
    opacity: 1;
}
.d-block{
    height: 375px;
}
.section_slide{
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}
.text_header{
    text-align: center;
    border-radius: 18px;
    background-color: white;
    width: 300px;
    padding: 10px;
    color: black;
    font-size: 30px;
    margin: 25px auto 25px
}
.carousel-inner.video_codec{
    padding-top: 10px;
}
.img_logo{
    width: 100%;
}

.carousel-item{
    padding: 10px;
}
.telegram{
    color: white;
    text-decoration: none;
}
.viber{
    color: white;
    text-decoration: none;
}
.telegram:hover {
    color: black;
}
.viber:hover {
    color: black;
}
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}